<h2>Search</h2>

<form action="/contacts/search" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <input type="submit" value="Search">
  <button><a href="/contacts">Cancel</a></button>
</form>
