<h2>New Item</h2>

<form action="/content" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>ID: <input type="text" name="id"></p>
  <p>Quantity: <input type="text" name="quantity"></p>
  <input type="submit" value="Create">
  <button><a href="/content">Cancel</a></button>
  </form>
